# top-most EditorConfig file
root = true

# 4 space indentation
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# 2 space indentation and utf-8 for for .travis.yml, package.json, and .json files under src
[{.travis.yml,package.json,src/**/*.json}]
indent_size = 2
charset = utf-8

# C# files
[*.cs]
# Use "Allman" style for braces (braces on new line)
csharp_new_line_before_open_brace = all:true

# Require braces for if-else, for, foreach, while, do-while
csharp_prefer_braces = true:suggestion

# Ensure indentation is consistent
csharp_indent_block_contents = true
csharp_indent_braces = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true